@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-content {
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.dropdown-content.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.text-stroke {
	text-shadow: -3px -3px 0 #474745, 3px -3px 0 #474745, -3px 3px 0 #474745,
		3px 3px 0 #474745, 2px 2px 4px #000000;
}

html body{
	cursor: url('../../public/images/cursor.png'), auto;
}

button:hover {
	cursor: url('../../public/images/cursor_hover.png'), auto;
}

a:hover{
	cursor: url('../../public/images/cursor_hover.png'), auto;
}


.wave-svg-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves {
    position: relative;
    width: 100%;
    height: 10vh; 
    min-height: 70px;
    max-height: 150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}


@keyframes float {

	0%,
	100% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-20px);
	}
}

.animate-float {
	animation: float 3s ease-in-out infinite;
}

.text-stroke {
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000,
		0 0 10px rgba(233, 196, 106, 0.5);
}