@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
    text-shadow:
        -3px -3px 0 #474745,
        3px -3px 0 #474745,
        -3px 3px 0 #474745,
        3px 3px 0 #474745,
        2px 2px 4px #000000;
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

imagen-principal {
		image-rendering: pixelated;
}

.wave-effect {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust as needed */
    background-image: url('../images/wave.svg');
    background-repeat: repeat-x;
    background-size: 2000px 100px; /* Adjust as needed */
    animation: wave-move 15s linear infinite;
}

@keyframes wave-move {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -2000px; /* Should match the background-size width */
    }
}