@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
    text-shadow:
        -3px -3px 0 #474745,
        3px -3px 0 #474745,
        -3px 3px 0 #474745,
        3px 3px 0 #474745,
        2px 2px 4px #000000;
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

imagen-principal {
		image-rendering: pixelated;
}