@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
	text-shadow: -3px -3px 0 #474745, 3px -3px 0 #474745, -3px 3px 0 #474745,
		3px 3px 0 #474745, 2px 2px 4px #000000;
}

html body{
	cursor: url('../../public/images/cursor.png'), auto;
}

button:hover {
	cursor: url('../../public/images/cursor_hover.png'), auto;
}

a:hover{
	cursor: url('../../public/images/cursor_hover.png'), auto;
}

.wave-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	overflow: hidden;
	pointer-events: none;
}

.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: #020617;
	clip-path: polygon(0% 60%,
			5% 55%,
			10% 50%,
			15% 48%,
			20% 50%,
			25% 55%,
			30% 60%,
			35% 63%,
			40% 60%,
			45% 55%,
			50% 50%,
			55% 48%,
			60% 50%,
			65% 55%,
			70% 60%,
			75% 63%,
			80% 60%,
			85% 55%,
			90% 50%,
			95% 48%,
			100% 50%,
			100% 100%,
			0% 100%);
	animation: wave-flow 12s linear infinite;
}

@keyframes wave-flow {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

@keyframes float {

	0%,
	100% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-20px);
	}
}

.animate-float {
	animation: float 3s ease-in-out infinite;
}

.text-stroke {
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000,
		0 0 10px rgba(233, 196, 106, 0.5);
}