@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
    text-shadow:
        -3px -3px 0 #474745,
        3px -3px 0 #474745,
        -3px 3px 0 #474745,
        3px 3px 0 #474745,
        2px 2px 4px #000000;
}
